.main-body
  %ul.chat-messages
    - @messages.each do |message|
      %li.messages
        .message-status.cf
          %p.message-status_name
            = message.user.name
          %p.message-status_time
            = message.created_at.strftime("%Y/%m/%d %H:%M:%S")
        .message-text
          = message.body

.main-footer
  .chat-footer
    = form_for([@group, @message]) do |f|
      .message-new
        .message-new_body
          = f.text_area :body, placeholder: "type a message"
        .message-new_file
          %i.fa.fa-image
      .message-send
        = f.submit "Send"
